<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Upload de fichier Excel</title>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data" action="/upload">
      <input type="file" name="file">
      <button type="submit">Envoyer</button>
    </form>
  </body>
</html>
